RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-
RewriteRule ^(.*\.[a-zA-Z]+)$ /htdocs/$1
RewriteRule ^([^\.]+)$ /htdocs/$1.php
RewriteRule ^(/)?$ htdocs/index.php [L]