body {
    @include font1();
}

h1, h2, h3, h4, h5, h6 {
    @include font2();

    color : $anthracite;
}

button, button[disabled] {
    box-shadow   : none;
    background   : $pink;
    border-color : $pink_light;
    @include trans();
    font-weight  : normal;
    &:hover, &:active, &:focus {
        background : $pink_light;
    }
}

.hidden {
    display : none;
}

html, body {
    background : $white;
    width      : 100%;
    color      : $anthracite;
}

#content {
    padding-top : $column-gutter / 2;
}

.right-align {
    text-align : right;
}

a {
    color : $pink;
    @include trans();
    &:active, &:hover, &:focus {
        color : $pink_light;
    }
}

form {
    .error {
        position   : absolute;
        top        : 0;
        background : $pink;
        color      : $white;
        padding    : 7px;
        right      : 15px;
        &.message {
            border        : 1px solid $pink_light;
            padding       : 10px;
            right         : auto;
            margin-bottom : 20px;
            position      : relative;
            &.hidden {
                display : none;
            }
        }
        @include trans();
        &:before {
            font-family  : 'icomoon';
            content      : "\e60c";
            margin-right : 5px;
        }
        &.hidden {
            display : block;
            opacity : 0;
        }
    }
}