div[data-editable] {
    position : relative;

    .fieldContent {
        cursor : text;

    }
    .fieldDelete {
        position    : absolute;
        right       : 0;
        top         : 0;
        color       : $pink;
        font-family : 'icomoon';
        content     : "\e60d";
        cursor      : pointer;
        @include trans();
        &:hover {
            color : $pink_light;
        }
    }
    form.editable {
        input {
            margin      : 0;
            border      : 0;
            font-size   : 1em;
            padding     : 5px;
            margin-left : -5px;
        }
    }
}