footer {
    font-family  : 'Raleway', sans-serif;
    color        : lighten(#263238, 50);
    line-height  : 20px;
    text-align   : right;
    margin-right : 5px;
    svg {
        width  : 20px;
        height : 20px;
    }
}