.journal {
    h1, h2, h3 {
        text-align : center;
        [class^="icon-"], [class*=" icon-"] {
            color : $pink;
        }
    }
    padding-top    : 20px;
    padding-bottom : 20px;

    .columns {
        .content {
            background : rgba($pink, .1);
            padding    : 10px;
            .ajax-content {
                display : none;
            }
        }
    }
}